<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />





<div [ngClass]="{'dark-mode': isDarkMode}">

    <div class="contact-box">
        <h2>Kontakt Information</h2>
        <div class="contact-info">
            <hr>
            <p>Email: <a href="mailto:mowafak.albunni@kemmlit.de">mowafak.albunni@kemmlit.de</a></p>
            <p>Nummer: <a href="tel:+49 123 456789">+49 123 456789</a></p>
        </div>
    </div>
</div>